.fullscreen--switch--section{
    position: fixed;
    color: #21f360;
    top: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

p.fullscreen--text{
    margin: 5px 0;
    padding: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 15px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .7s;
    transition: .7s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    -webkit-transition: .7s;
    transition: .7s;
  }
  
  input:checked + .slider {
    background-color: #21f360;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #21f360;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }